/NetBeans_IDE/MmgGameApiJava/build/
NetBeans_IDE/MmgGameApiJava/nbproject/private/private.properties
VisualStudio_IDE/MmgGameApiCs/.vs/MmgGameApiCs/v16/.suo
VisualStudio_IDE/MmgGameApiCs/.vs/MmgGameApiCs/DesignTimeBuild/.dtbcache.v2
